<!DOCTYPE html>
<html>
    <head>
        <title>CDO Sign-In</title>

        <link href="~/index.css" rel="stylesheet"/>

        <script src="~/vue.min.js"></script>
        <script src="~/index.js"></script>
    </head>
    <body>
        <h1>CDO Sign-In for @DateTime.Now.ToString("D")</h1>
    </body>
</html>